body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  background-color: #343C42 !important;
}

.btn-outline-dark {
  border-color: #9EB2C0 !important;
}

.btn-outline-dark:hover {
  border-color: #7D7F7F !important;
}

.form-group select {
  border-color: #9EB2C0 !important;
}

.download_btn {
  margin-left: 10px;
  float: left;
}
